sh==1.11
netaddr==0.7.15
six==1.9.0
flask
gunicorn
subprocess32
git+https://github.com/projectcalico/python-etcd.git
git+https://github.com/projectcalico/python-posix-spawn.git@smc-debianize#egg=posix-spawn
git+https://github.com/projectcalico/calico.git@47a6f93cddbc98fcb1c701170c0f622588127ac5
git+https://github.com/projectcalico/libcalico.git
